body{
    padding:0;
    margin:0;
    border-sizing:border-box;
    position:relative
}
.position{
    position:absolute;
    margin:0;
    padding:0;
    top:20px;
    width:100%;
    /*opacity:1;*/
}
/*banner图片*/
.picture1{
    /*box-sizing: border-box;*/
    width:100%;
    height:799px;
    /*background: url(../img/banner.jpeg) repeat;*/
    position:absolute;
    top:-20px;
    z-index:0;
}
/*搜索的输入框*/
.search_panel{
    width:280px;
    height:40px;
    border:0;
    padding-left:15px;
    box-sizing:border-box;
    font-size:20px;
    position:absolute;
    top:50px;
    left:20px;
    border-radius:5px;
}
/*搜索的蓝色的图片*/
.img_search{
    position:absolute;
    top:50px;
    left:305px;
    height:40px;
}
/*搜索的背景*/
.searh_bg{
    background:rgba(147,136,126,0.5);
    border-radius:5px;
    width:430px;
    height:142px;
    position:absolute;
    top:347px;
    left:466px;
}
.searh_bg>h3{
    color:white;
    margin:3px;
    padding-right:18px;
}
/*搜索的输入框下的城市*/
ul>li>a.Stext{
    margin-right:8px;
    color:white;
}
ul{
    position:absolute;
    top:100px;
    left:18px;
}
/*图片上的汉字内容*/
.picture_text{
    position:absolute;
    top:300px;
    right:300px;
}
.picture_text>a>h1{
    width:550px;
    height:80px;
    color:white;
    font-size: 48px;
}
.picture_text>a{
    text-decoration:none;
}
.picture_text>a>h1:hover{
    color:#FF9D00;
}
p.location{
    width:550px;
    height:128px;
    color:white;
    margin-top:50px;
    font-size: 18px;
    overflow-y: hidden;
}
/*h4文字内容*/
a>h4{
    text-decoration:underline;
    color:white;
}
a>h4:hover{
    color:#FF9D00;
}
/*热门目的地*/
div.margin-top{
    margin-top:800px;
    /*margin-right:300px;*/
}
h2.text-title{
    /*margin-left:50%;*/
    text-align:center;
}
/*国内*/
.text-btitle{
    margin-top: -80px;margin-left: 600px;
}
.nav-link{
    font-size:18px;
}
.bg{
    width:100%;
    height:900px;
    margin-left:250px;

}
div.Asia{
    margin-top:-50px;
    width:900px;
    margin-left:300px;
}
/*当季推荐*/

/*当季推荐图片*/
img.Image{
    width:323px;
    height:220px;
    /*margin-left:10px;*/
}
div.Imgcenter{
    margin-left: center;
}
.Tcenter{
    /*margin-left:300px;*/
    text-align: center;
    padding-left:0px;
    margin-top:30px;
    margin-bottom:30px;
}
/*当季推荐*/
.text-center{
    margin-top:40px;
}
/*2楼图片*/
img.Img2{
    width:238px;
    height:220px;
    margin-top:20px;
    margin-left: 20px;
}
/*图片背景*/
div.bg_1{
    width:100%;
    height:600px;
    /*margin-right：200px;*/
    background-color: #FAFAFA;
}